{% load static %}
<link rel="shortcut icon" href='{% static "allifmaalusersapp/css/images/Allifmaal-icon.png" %}' type="png/ico">
<DOCTYPE html>
    <head> 
        <title>
            {% block title %}
            {% endblock %}
        </title>
       
        {% block style %}
        {% endblock %}
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'allifmaalusersapp/css/allifmaalusersappmainstyle.css' %}" rel="stylesheet">
		
		<link href="{% static 'allifmaalusersapp/css/users/userstyles.css' %}" rel="stylesheet">
    </head>
    <body>
		       
        {% block body %}

        {% endblock %}
     
    </body>
<html>



