{% extends 'allifmaaluiapp/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
   
{% block body %}
 
<!--we can insert the other section here-->

<div class="allifmaincontainer">
  <div id="allif-section-headers" class="card-header">
    <div class="row mt-12" >
    <div class="col-md-12">
    <a href="{% url 'allifmaaluiapp:allifmaalUIFullTable' %}" class="module-menu-links">Sales </a>
    <a href="#" class="module-menu-links">Sales Returns </a>
    <a href="#" class="module-menu-links"> <span>Add Customer Details </span> </a>
    </div></div></div>


<!--start of the form section-->
<div class="row mt-12" >
<div class="allif-details-container">

<div class="row"><!--start of row div --->

  <!--start of column two-->
  <div class="col-md-4">
    <div class="allif-details-card ">
      <!--start of the table here-->
    <table class="table allif-details-table">
      <tbody>
    <tr>
      <td>Quote Value</td>
      <td>tabless done heresdfd</td>
      
    </tr>
    <tr>
      <td>Discount Amount</td>
      <td>man tables donessdfdsf expaected </td>
  
      </tr>
    
    </tbody>
    </table>
  
    </div>
        </div>


 <!--start of column two-->
 <div class="col-md-4">
  <div class="allif-details-card ">
    <!--start of the table here-->
  <table class="table allif-details-table">
    <tbody>
  <tr>
    <td>Quote Value</td>
    <td>{{Quote_id.total|floatformat:2|intcomma}}</td>
    
  </tr>
  <tr>
    <td>Discount Amount</td>
    <td>this is the middle tables done</td>

    </tr>
    <tr>
      <td>Value After Discount</td>
      <td>{{Quote_id.valueafterdiscount|floatformat:2|intcomma}}</td>

      </tr>

  </tbody>
  </table>

  </div>
      </div>


 <!--start of column two-->
 <div class="col-md-4">
  <div class="allif-details-card ">
    <!--start of the table here-->
  <table class="table allif-details-table">
    <tbody>
  <tr>
    <td>Quote Value</td>
    <td>first for this value tal staabdles </td>
    
  </tr>
  <tr>
    <td>Discount Amount</td>
    <td>{{Quote_id.discountAmount|floatformat:2|intcomma}}</td>

    </tr>
    <tr>
      <td>Value After Discount</td>
      <td>{{Quote_id.valueafterdiscount|floatformat:2|intcomma}}</td>

      </tr>
      <tr>
        <td>Value After Discount</td>
        <td>{{Quote_id.valueafterdiscount|floatformat:2|intcomma}}</td>
  
        </tr>
        <tr>
          <td>Value After Discount</td>
          <td>{{Quote_id.valueafterdiscount|floatformat:2|intcomma}}</td>
    
          </tr>
          <tr>
            <td>Value After Discount</td>
            <td>{{Quote_id.valueafterdiscount|floatformat:2|intcomma}}</td>
      
            </tr>
            <tr>
              <td>Value After Discount</td>
              <td>{{Quote_id.valueafterdiscount|floatformat:2|intcomma}}</td>
        
              </tr>
              <tr>
                <td>Value After Discount</td>
                <td>{{Quote_id.valueafterdiscount|floatformat:2|intcomma}}</td>
          
                </tr>
                <tr>
                  <td>Value After Discount</td>
                  <td>{{Quote_id.valueafterdiscount|floatformat:2|intcomma}}</td>
            
                  </tr>
                  <tr>
                    <td>Value After Discount</td>
                    <td>{{Quote_id.valueafterdiscount|floatformat:2|intcomma}}</td>
              
                    </tr>
                    <tr>
                      <td>Value After Discount</td>
                      <td>{{Quote_id.valueafterdiscount|floatformat:2|intcomma}}</td>
                
                      </tr>
                      <tr>
                        <td>Value After Discount</td>
                        <td>{{Quote_id.valueafterdiscount|floatformat:2|intcomma}}</td>
                  
                        </tr>
                        <tr>
                          <td>Value After Discount</td>
                          <td>{{Quote_id.valueafterdiscount|floatformat:2|intcomma}}</td>
                    
                          </tr>
                          <tr>
                            <td>Value After Discount</td>
                            <td>{{Quote_id.valueafterdiscount|floatformat:2|intcomma}}</td>
                      
                            </tr>
                            <tr>
                              <td>Value After Discount</td>
                              <td>last value in hthis exampesdlsfd hihewerewew wewerwerw </td>
                        
                              </tr>

  </tbody>
  </table>

  </div>
      </div>



</div><!--end of row div --->
  
    </div>
   
              <!----------------------------------------------end of row-----------------------------------------------------> 
  </div><!--end of the form section-->

</div><!--end of main container of the page-->


   {% endblock %}
   