{% extends 'allifmaaluiapp/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
   
{% block body %}
 
<!--we can insert the other section here-->

<div class="allifmaincontainer">
  <div id="allif-section-headers" class="card-header">
    <div class="row mt-12" >
    <div class="col-md-12">
    <a href="{% url 'allifmaaluiapp:allifmaalUIFullTable' %}" class="module-menu-links">Sales </a>
    <a href="#" class="module-menu-links">Sales Returns </a>
    <a href="#" class="module-menu-links"> <span>Add Customer Details </span> </a>
    </div></div></div>


<!--start of the form section-->
  <div class="row mt-12" >
    <div class="col-md-12"><!--start of the first row body-->
<div class="allif-form-container">
<form method='POST' action=''>{% csrf_token %}
<div class="row"><!--start of row div --->
    <div class="col-md-4"><!--start of column 1-->
        <div class="card shadow text-left p-3 allif-form-card" >
        <label>Customer</label> {{form.customer}} 
        <label>Terms</label>{{form.terms}}
        <label>Status</label> {{form.prospect}}
        
        </div>
    </div><!--end of column 1-->

    <div class="col-md-4"><!--start of column 2-->
    <div class="card shadow text-left p-3 allif-form-card">
        <label>Discount Rate %</label> {{form.discountValue}} 
        <label>Currency</label> {{form.currency}} 
        <label>Sales Tax</label> {{form.salestax}} 
        
        </div>
    </div><!--end of column 2-->
    <div class="col-md-4"><!--start of column 3-->
    <div class="card shadow text-left p-3 allif-form-card">
        <label>Comments</label> {{form.comments}} 
        <label>Discount</label> {{form.discount}} 
        <label>Tax Rate</label> {{form.tax}}

       
        <br>
        <input type="submit" value='Save' class="btn btn-success allifmaal-submit-btn">

        </div>
    </div><!--end of column 1-->

</div><!--end of row div --->
    </form>
    </div>
    </div><!--end of first row body-->
              <!----------------------------------------------end of row-----------------------------------------------------> 
  </div><!--end of the form section-->

</div><!--end of main container of the page-->


   {% endblock %}
   