{% extends 'allifmaaluiapp/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
   
{% block body %}
 
<style>
  /*
  
  
  */
  body{
   
    background-color: #F6F7F8;
  }
  
  .allifmaincontainer {
    margin-top: 3em;
    background-color: #F6F7F8;
    
    margin-right: 1em;
    margin-left: 1em;
   
    
   
  }
  
.allifmaincontainer .allifmaalcard table {
  
  overflow: auto;
  background-color:#F6F7F8;
 
 
  
  
  width: 100%;
  

  
  
 
}



  
</style>

<style>
  /*below is for the module links side nav*/
  
/*............start of styling of side nav one bar menu and its content.............................*/
.sidenavonemodulelinksmenu {
  position: fixed;
  top: 7em;
  left: 0;
  background: #f7f7f7;
  z-index:10;  
  box-shadow: 0em 0em 0.5em #858585;
  overflow-y:auto;
  overflow-x: hidden;
  width: 0;
  height: 0;
  min-height: fit-content;
  max-height: 100%;/*very important... if you dont put this it will not show the over*/
  min-width: min-content;
  max-width: 7em;
  }

.sidenavonemodulelinksmenu a, .sidenavonemodulelinksmenu button.sidenavonemodulelinksmenudropdownbtn {
  position: relative;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:normal;
  font-size: 1em;
  text-align: left;
  left: 0.1em;
  padding: 0.1em 0.1em 0.1em 0.1em;
  text-decoration: none;
  color: #0a0a0a;
  display: block;
  width: 100%;
  height: fit-content;
  line-height: 2em;
  border: none;
  background: #f7f7f7;
  border-bottom: 1px solid #dfdede;
  
}

.sidenavonemodulelinksmenu a:hover,.sidenavonemodulelinksmenu button.sidenavonemodulelinksmenudropdownbtn:hover{
  color: #3a0bf7;
}
.opensidenavonemodulelinks {
  width:fit-content;
  height:fit-content;
}
/*style the clicked active buttons in the side nav dropdown buttons*/

  /*style the side nav one drop down menu and its content*/
.sidenavone-module-links-dropdown-container {
  
  display: none;
  position:absolute;
  left: 0.1em;
  z-index: 1;/*drop down will not open without this property....*/
  float: left;
  text-align: left;
  padding: 0.1em 0.1em 0.1em 0.1em;
  background: #f7f7f7;
  
  }

.sidenavone-module-links-dropdown-container a {
  position: relative;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:normal;
  font-size: 1em;
  text-align: left;
  left: 0.1em;
  padding: 0.1em 0.1em 0.1em 0.1em;
  text-decoration: none;
  color: #3a0bf7;
  display: block;
  line-height: 2em;
  background: #f7f7f7;
  border-bottom: 1px solid #dfdede;
  width: 100%;
  
  }
  
  .sidenavone-module-links-dropdown-container a:hover{
    color: #0a0a0a;
  }

  

</style>

  
      <!--we can insert the other section here-->
      <div class="allifmaincontainer">
          <div class="allifmaalcard">
            <div class="col-md-12" >
             
                  <div id="allif-section-headers" class="card-header">
                     
                  <a href="#" class="opensidemenuonemodulelinksbtn" style="float: left;
                  margin-left: 1em; margin-right: 2em;">Menu <i class="fa fa-caret-down"></i></a>

                  <a href="#" class="opensidemenutwomodulelinksbtn " style="float: left;
                  margin-left: 1em; margin-right: 2em;">Menu <i class="fa fa-caret-down"></i></a>

                  <a href="#" class="opensidemenuthreemodulelinksbtn " style="float: left;
                  margin-left: 1em; margin-right: 2em;">Menu <i class="fa fa-caret-down"></i></a>


<!--start....below is the hidden links section-->
 <!--start of side menu one-->
 <div class="sidenavonemodulelinksmenu">
  <a href="#" class="opensidemenuonemodulelinksbtn ">Close <i class="fa fa-close"></i></a>
  <a href="{% url 'allifmaaluiapp:allifmaalUI2Tables' %}" >Search</a>

  <button class="sidenavonemodulelinksmenudropdownbtn" >Quotations<i class="fa fa-caret-down"></i></button>
 <div class="sidenavone-module-links-dropdown-container">
   <a href="{% url 'allifmaaluiapp:allifmaalUI2Tables' %}">Dashboard</a>
   <a href="#">Suppliers</a>
 </div>

 <button class="sidenavonemodulelinksmenudropdownbtn" >Purchases<i class="fa fa-caret-down"></i></button>
 <div class="sidenavone-module-links-dropdown-container">
   <a href="{% url 'allifmaaluiapp:allifmaalUI2Tables' %}">Logistics</a>
   <a href="#">Invoices</a>
   <a href="#">Quotations</a>
 </div>

 

 <a href="#" class="">Sales</a>
 <a href="#" class="">Sales</a>

 </div>
 <!--end of side menu one-->

<!--end of hidden links section-->

                  <span>Main Store Table</span>

                  </div>
                 
                
              <div class="AllifTableFixedHeader Allifmaal-scroll-table"> 
                  <table class="table table-layout">
                    <thead >
                      <tr class="allif-table-header-row">
                         
                          <td>Category</td>
                          <td>Description</td>
                          <td>PartNo.</td>
          
                          <td>Quantity</td>
                        
                          <td>Price</td>
                          <td>Details</td>
                         
                      </tr>
                    </thead>
                    <tbody>
                    
          <tr>
          
      
              <td >
                item one
              </td>
             
      
              <td>
                 54W3 SOLAR MODULES
                 
              </td>
              <td>do again </td>
              
              <td> another one</td>
              
            
              <td>566</td>
              <td>
                 compacision
              </td>
             
          </tr>
          <tr>
           
                <td >
                  item one
                </td>
               
        
                <td>
                   two sect
                   
                </td>
                <td>do again</td>
                
                <td> another one</td>
                
              
                <td>566</td>
                <td>
                   compacision
                </td>
               
            </tr>
            <tr>
             
          
                  <td >
                    item one
                  </td>
                 
          
                  <td>
                     two sect
                     
                  </td>
                  <td>do again</td>
                  
                  <td> another one</td>
                  
                
                  <td>566</td>
                  <td>
                     compacision
                  </td>
                 
              </tr>
              <tr>
               
                    <td >
                      item one
                    </td>
                   
            
                    <td>
                       two sect
                       
                    </td>
                    <td>do again</td>
                    
                    <td> another one</td>
                    
                  
                    <td>566</td>
                    <td>
                       compacision
                    </td>
                   
                </tr>
                <tr>
               
                  <td >
                    item one
                  </td>
                 
          
                  <td>
                     two sect
                     
                  </td>
                  <td>do again</td>
                  
                  <td> another one</td>
                  
                
                  <td>566</td>
                  <td>
                     compacision
                  </td>
                 
              </tr>
              <tr>
               
                <td >
                  item one
                </td>
               
        
                <td>
                   two sect
                   
                </td>
                <td>do again</td>
                
                <td> another one</td>
                
              
                <td>566</td>
                <td>
                   compacision
                </td>
               
            </tr>
            <tr>
               
              <td >
                item one
              </td>
             
      
              <td>
                 two sect
                 
              </td>
              <td>do again</td>
              
              <td> another one</td>
              
            
              <td>566</td>
              <td>
                 compacision
              </td>
             
          </tr>
          <tr>
               
            <td >
              item one
            </td>
           
    
            <td>
               two sect
               
            </td>
            <td>do again</td>
            
            <td> another one</td>
            
          
            <td>566</td>
            <td>
               compacision
            </td>
           
        </tr>
        <tr>
               
          <td >
            item one
          </td>
         
  
          <td>
             two sect
             
          </td>
          <td>do again</td>
          
          <td> another one</td>
          
        
          <td>566</td>
          <td>
             compacision
          </td>
         
      </tr>
      <tr>
               
        <td >
          item one
        </td>
       

        <td>
           two sect
           
        </td>
        <td>do again</td>
        
        <td> another one</td>
        
      
        <td>566</td>
        <td>
           compacision
        </td>
       
    </tr>
    <tr>
               
      <td >
        item one
      </td>
     

      <td>
         two sect
         
      </td>
      <td>do again</td>
      
      <td> another one</td>
      
    
      <td>566</td>
      <td>
         compacision
      </td>
     
  </tr>
  <tr>
               
    <td >
      item one
    </td>
   

    <td>
       two sect
       
    </td>
    <td>do again</td>
    
    <td> another one</td>
    
  
    <td>566</td>
    <td>
       compacision
    </td>
   
</tr>
<tr>
               
  <td >
    item one
  </td>
 

  <td>
     two sect
     
  </td>
  <td>do again</td>
  
  <td> last</td>
  

  <td>last</td>
  <td>
     last
  </td>
 
</tr>
         
      
                    </tbody>
                  </table>
                
                </div>
             
              <!--end of table-->
               
            
           </div>

           







           <!--start of first row-->
    <div class="row mt-12" >
        
      <div class="col-md-4">
          <div class="card">
              <div id="allif-section-headers" class="card-header ">
                  Total Balance: {{tot_bal|intcomma}}
              </div>
              <div >
                                     <!-- start of on click dropdown Menu-->
<div class="allif-clikable-dropdown">
  <button onclick="openOnClickFunction()" id="allif-link-buttons" class="allifmaal-dropbtn btn btn-success mybuttonlinks">
    Open Module Related Functions 
    <i class="fa fa-caret-down"></i>
  </button>
  <div id="allif-clikable-myDropdown" type="button" class="clikable-dropdown-content">
    <table class="table">
     
      <tr>
          <td>
      <a href="">
          
          Deposits
        </a>
        </td>
        <td>
          <a href="">
              
            Withdrawals
            </a>
            </td>
            
        </tr>


        <tr>
          <td>
      <a href="">
          
          Add Bank
        </a>
        </td>
        <td>
          <a href="">Drawings</a>
        
           
            </td>
            
        </tr>
       
       
              
              </table>
    
  </div>
  </div>


  <hr>
  <div class="card-header" >
      Latest Bank Deposits
      </div>
  <table class="table table-layout">
      <thead>
      <tr>
         
          
          <td>Bank</td>
         
          <td>Amount</td>
         
        
  
      </tr>
  </thead>
  <tbody>
     
      

<tr>
  
  
 
  <td>
      items
     
  </td>
  
  
  <td> 
      <a href="">
      Amounts</a>
  </td>
 
  <td>
    items
   
</td>


<td> 
    <a href="">
    Amounts</a>
</td>

  
</tr>

<tr>
  
  
 
  <td>
      items
     
  </td>
  
  
  <td> 
      <a href="">
      Amounts</a>
  </td>
 
  <td>
    items
   
</td>


<td> 
    <a href="">
    Amounts</a>
</td>

  
</tr>

<tr>
  <td>
      items
     
  </td>
  
  
  <td> 
      <a href="">
      Amounts</a>
  </td>
 
  <td>
    items
   
</td>


<td> 
    <a href="">
    Amounts</a>
</td>

  
</tr>

<tr>
  <td>
      items
     
  </td>
  
  
  <td> 
      <a href="">
      Amounts</a>
  </td>
 
  <td>
    items
   
</td>


<td> 
    <a href="">
    Amounts</a>
</td>

  
</tr>

<tr>
  <td>
      items
     
  </td>
  
  
  <td> 
      <a href="">
      Amounts</a>
  </td>
 
  <td>
    items
   
</td>


<td> 
    <a href="">
    Amounts</a>
</td>

  
</tr>


  </tbody>
  </table>

                  </div>

          </div>
      </div>
      

  <div class="col-md-8">
      <div class="card">
          <div id="allif-section-headers" class="card-header">
              
          Company Banks
          </div>
          <div class="AllifTableFixedHeader Allifmaal-scroll-table">
      <!--start of the table-->
          
          <table class="table table-layout">
          <thead>
          <tr class="allif-table-header-row">
             
            
              <td>Bank</td>
              
              <td>Balance</td>
              <td>Account</td>
              <td>Date</td>
             
          </tr>
      </thead>
      <tbody>

          
  
  <tr>
      <td>
          <a href="">
          Bank Name</a>
         
      </td>
      
      <td> 
          <a href="">
          Bank Balance
          </a>
      </td>

      <td>
         Bank account
         
      </td>
      <td>
     
         Transaction date
         
      </td>
  </tr>
  <tr>
    <td>
        <a href="">
        Bank Name</a>
       
    </td>
    
    <td> 
        <a href="">
        Bank Balance
        </a>
    </td>

    <td>
       Bank account
       
    </td>
    <td>
   
       Transaction date
       
    </td>
</tr>
<tr>
  <td>
      <a href="">
      Bank Name</a>
     
  </td>
  
  <td> 
      <a href="">
      Bank Balance
      </a>
  </td>

  <td>
     Bank account
     
  </td>
  <td>
 
     Transaction date
     
  </td>
</tr>
<tr>
  <td>
      <a href="">
      Bank Name</a>
     
  </td>
  
  <td> 
      <a href="">
      Bank Balance
      </a>
  </td>

  <td>
     Bank account
     
  </td>
  <td>
 
     Transaction date
     
  </td>
</tr>
  
<tr>
  <td>
      <a href="">
      Bank Name</a>
     
  </td>
  
  <td> 
      <a href="">
      Bank Balance
      </a>
  </td>

  <td>
     Bank account
     
  </td>
  <td>
 
     Transaction date
     
  </td>
</tr>
<tr>
  <td>
      <a href="">
      Bank Name</a>
     
  </td>
  
  <td> 
      <a href="">
      Bank Balance
      </a>
  </td>

  <td>
     Bank account
     
  </td>
  <td>
 
     Transaction date
     
  </td>
</tr>
<tr>
  <td>
      <a href="">
      Bank Name</a>
     
  </td>
  
  <td> 
      <a href="">
      Bank Balance
      </a>
  </td>

  <td>
     Bank account
     
  </td>
  <td>
 
     Transaction date
     
  </td>
</tr>
<tr>
  <td>
      <a href="">
      Bank Name</a>
     
  </td>
  
  <td> 
      <a href="">
      Bank Balance
      </a>
  </td>

  <td>
     Bank account
     
  </td>
  <td>
 
     Transaction date
     
  </td>
</tr>
<tr>
  <td>
      <a href="">
      Bank Name</a>
     
  </td>
  
  <td> 
      <a href="">
      Bank Balance
      </a>
  </td>

  <td>
     Bank account
     
  </td>
  <td>
 
     Transaction date
     
  </td>
</tr>
<tr>
  <td>
      <a href="">
      Bank Name</a>
     
  </td>
  
  <td> 
      <a href="">
      Bank Balance
      </a>
  </td>

  <td>
     Bank account
     
  </td>
  <td>
 
     Transaction date
     
  </td>
</tr>
<tr>
  <td>
      <a href="">
      Bank Name</a>
     
  </td>
  
  <td> 
      <a href="">
      Bank Balance
      </a>
  </td>

  <td>
     Bank account
     
  </td>
  <td>
 
     Transaction date
     
  </td>
</tr>
<tr>
  <td>
      <a href="">
      Bank Name</a>
     
  </td>
  
  <td> 
      <a href="">
      Bank Balance
      </a>
  </td>

  <td>
     Bank account
     
  </td>
  <td>
 
     Transaction date
     
  </td>
</tr>
<tr>
  <td>
      <a href="">
      Bank Name</a>
     
  </td>
  
  <td> 
      <a href="">
      Bank Balance
      </a>
  </td>

  <td>
     Bank account
     
  </td>
  <td>
 
     Transaction date
     
  </td>
</tr>
<tr>
  <td>
      <a href="">
      Bank Name</a>
     
  </td>
  
  <td> 
      <a href="">
      Bank Balance
      </a>
  </td>

  <td>
     Bank account
     
  </td>
  <td>
 
     Transaction date
     
  </td>
</tr>
<tr>
  <td>
      <a href="">
      Bank Name</a>
     
  </td>
  
  <td> 
      <a href="">
      Bank Balance
      </a>
  </td>

  <td>
     Bank account
     
  </td>
  <td>
 
     Transaction date
     
  </td>
</tr>


      </tbody>
      </table>
         

      
      <!--end of table-->
          </div>
      </div></div></div>
            
            </div>

           
          
              <!-- end of first row-->
            
             












              <div class="allifmaalcard">
                <div class="col-md-12" >
                <div id="allif-section-headers" class="card-header">
                    
                Main Store Table
                
                
                </div>

              
            <div class="AllifTableFixedHeader Allifmaal-scroll-table"> 
                <table class="table table-layout">
                  <thead >
                    <tr class="allif-table-header-row">
                       
                        <td>Category</td>
                        <td>Description</td>
                        <td>PartNo.</td>
        
                        <td>Quantity</td>
                      
                        <td>Price</td>
                        <td>Details</td>
                       
                    </tr>
                  </thead>
                  <tbody>
                  
        <tr>
        
    
            <td >
              item one
            </td>
           
    
            <td>
               54W3 SOLAR MODULES
               
            </td>
            <td>do again </td>
            
            <td> another one</td>
            
          
            <td>566</td>
            <td>
               compacision
            </td>
           
        </tr>
        <tr>
         
              <td >
                item one
              </td>
             
      
              <td>
                 two sect
                 
              </td>
              <td>do again</td>
              
              <td> another one</td>
              
            
              <td>566</td>
              <td>
                 compacision
              </td>
             
          </tr>
          <tr>
           
        
                <td >
                  item one
                </td>
               
        
                <td>
                   two sect
                   
                </td>
                <td>do again</td>
                
                <td> another one</td>
                
              
                <td>566</td>
                <td>
                   compacision
                </td>
               
            </tr>
            <tr>
             
                  <td >
                    item one
                  </td>
                 
          
                  <td>
                     two sect
                     
                  </td>
                  <td>do again</td>
                  
                  <td> another one</td>
                  
                
                  <td>566</td>
                  <td>
                     compacision
                  </td>
                 
              </tr>
              <tr>
             
                <td >
                  item one
                </td>
               
        
                <td>
                   two sect
                   
                </td>
                <td>do again</td>
                
                <td> another one</td>
                
              
                <td>566</td>
                <td>
                   compacision
                </td>
               
            </tr>
            <tr>
             
              <td >
                item one
              </td>
             
      
              <td>
                 two sect
                 
              </td>
              <td>do again</td>
              
              <td> another one</td>
              
            
              <td>566</td>
              <td>
                 compacision
              </td>
             
          </tr>
          <tr>
             
            <td >
              item one
            </td>
           
    
            <td>
               two sect
               
            </td>
            <td>do again</td>
            
            <td> another one</td>
            
          
            <td>566</td>
            <td>
               compacision
            </td>
           
        </tr>
        <tr>
             
          <td >
            item one
          </td>
         
  
          <td>
             two sect
             
          </td>
          <td>do again</td>
          
          <td> another one</td>
          
        
          <td>566</td>
          <td>
             compacision
          </td>
         
      </tr>
      <tr>
             
        <td >
          item one
        </td>
       

        <td>
           two sect
           
        </td>
        <td>do again</td>
        
        <td> another one</td>
        
      
        <td>566</td>
        <td>
           compacision
        </td>
       
    </tr>
    <tr>
             
      <td >
        item one
      </td>
     

      <td>
         two sect
         
      </td>
      <td>do again</td>
      
      <td> another one</td>
      
    
      <td>566</td>
      <td>
         compacision
      </td>
     
  </tr>
  <tr>
             
    <td >
      item one
    </td>
   

    <td>
       two sect
       
    </td>
    <td>do again</td>
    
    <td> another one</td>
    
  
    <td>566</td>
    <td>
       compacision
    </td>
   
</tr>
<tr>
             
  <td >
    item one
  </td>
 

  <td>
     two sect
     
  </td>
  <td>do again</td>
  
  <td> another one</td>
  

  <td>566</td>
  <td>
     compacision
  </td>
 
</tr>
<tr>
             
<td >
  item one
</td>


<td>
   two sect
   
</td>
<td>do again</td>

<td> last</td>


<td>last</td>
<td>
   last
</td>

</tr>
       
    
                  </tbody>
                </table>
              
              </div>
           
            <!--end of table-->
             
          </div>
          <hr style="color: blue; height: 1em;">
         </div>
   
   



         <div class="row mt-12" >

          <!--start of column-->
          <div class="col-md-4">
              <div class="card">
                  <div id="allif-section-headers" class="card-header ">
                      Quick Links
                  </div>
      
                                      
       <!-- start of on click dropdown Menu-->
       <div class="allif-clikable-dropdown">
          <button onclick="openOnClickFunction()" id="allif-link-buttons" class="allifmaal-dropbtn btn btn-success mybuttonlinks">
            Open Module Related Functions 
            <i class="fa fa-caret-down"></i>
          </button>
          <div id="allif-clikable-myDropdown" type="button" class="clikable-dropdown-content">
            <table class="table">
              
              <tr>
                
                  <td>
              <a href="">
                  
                  New Quote
                </a>
                </td>
                <td>
                  <a href="">
                  
                     Customers
                    </a>
                 
                    </td>
                    
                </tr>
                <tr>
                  <td>
                      <a href="">
                      
                         Invoices
                        </a>
                     
                        </td>
                        <td>
                          <a href=""> Main Stock</a>
                        </td>
                </tr>
                <tr>
                  <td>
                      <a href=""> Quotes</a>
                    </td>
      
                    <td>
                      <a href=""> Add Items</a>
                    </td>
                  
                </tr>
                <tr>
                  <td>
                      <a href="" class="allif-delete-link">Delete</a>
                    </td>
      
                    <td>
                     
                    </td>
                  
                </tr>
               
               </table>
            
          </div>
          </div>
      
          <hr>
      
              <!--start of the table here-->
              <table class="table">
              <tbody>
                  <tr>
                      <th>Customer</th>
                      <td> {{Quote_id.customer}}</td>
                      
                      </tr>
                      <tr>
                          <th>Quote</th>
                          <td>{{Quote_id}}</td>
                          
                          </tr>
                          <tr>
                          <th>Date</th>
                          <td>{{Quote_id.date}}</td>
                  
                          
                          </tr>
              </tbody>
              </table>
                
                      </div>
                  </div>
                  <!-- end of column-->
          
          <!--start of column two-->
          <div class="col-md-4">
              <div class="card">
                  <div id="allif-section-headers" class="card-header ">
                    Quote Details
                  </div>
                 
                <!--start of the table here-->
                <table class="table">
                  <tbody>
      
                      
                     
                     
                  <tr>
                      <th>Quote Value</th>
                      <td>{{Quote_id.total|floatformat:2|intcomma}}</td>
                      
                      </tr>
                      <tr>
                          <th>Discount Amount</th>
                          <td>{{Quote_id.discountAmount|floatformat:2|intcomma}}</td>
                  
                          
                          </tr>
                      
                      <tr>
                          <th>Value After Discount</th>
                          <td>{{Quote_id.valueafterdiscount|floatformat:2|intcomma}}</td>
                  
                          
                          </tr>
      
                        
      
                          <tr>
                              <th>Tax Rate</th>
                              <td>{{Quote_id.tax}}%</td>
                      
                              
                              </tr>
                              <tr>
                                  <th>Tax Amount</th>
                                  <td>{{Quote_id.taxAmount|floatformat:2|intcomma}}</td>
                          
                                  
                                  </tr>
                                  <tr>
                                      <th>(Total - Discount) + Tax</th>
                                      <td>{{Quote_id.priceLessDiscountWithTax|floatformat:2|intcomma}}</td>
                                      
                                      </tr>
                    
                     
            </tbody>
            </table>
                 
                      </div>
                  </div>
                  
          <!--end of column two-->
          
          <!-- start of column three-->
          <div class="col-md-4">
              <div class="card">
                  <div id="allif-section-headers" class="card-header ">
                      Quote Details
                  </div>
                 
                <!--start of the table here-->
                <table class="table">
                  <tbody> 
                       
                    
                          <tr>
                              <th>Prospect</th>
                              <td>{{Quote_id.prospect}}</td>
                              
                              </tr>
                          
                          <tr>
                          <th>Currency</th>
                          <td>{{Quote_id.currency}}</td>
                  
                          
                          </tr>
          
              
                      <tr>
                          <th>Terms</th>
                          <td>{{Quote_id.terms}}</td>
                  
                          
                          </tr>
                          
                                      <tr>
                                          <th>Comments</th>
                                          <td>{{Quote_id.comments}}</td>
                                  
                                          
                                          </tr>
                                          <tr>
                                              <th>Tax Rate</th>
                                              <td>{{Quote_id.tax}}%</td>
                                      
                                              
                                              </tr>
                                              <tr>
                                                  <th>Sales Tax</th>
                                                  <td>{{Quote_id.salestax|intcomma}}</td>
                                          
                                                  
                                                  </tr>
                                          
                  </tbody>
                  </table>
               
                          
                      </div>
                  </div>
                  
          
          <!--end of column three-->
             
              </div>
              <hr style="color: blue;">
      
      
      
          <!--start of first row-->
          <div class="row mt-12" >
              
              
          <!--start of first row-->
          <form method='POST' action=''>{% csrf_token %}
      
          
            <!----------------------------------------------start of row----------------------------------------------------->
            <div class="col-md-12"><!--start of the first row body-->
             
                    
                <div class="card-header text-center" >
                    <h5>Add Quote Details</h5>
                </div>
                        
                <div class="row"><!--start of row div --->
                        
                    <div class="col-md-4"><!--start of column 1-->
                        <div class="card my-card shadow text-left p-3">
                        <label>Customer</label> {{form.customer}} 
                        <label>Terms</label>{{form.terms}}
                        <label>Status</label> {{form.prospect}}
                         
                        </div>
                    </div><!--end of column 1-->
        
                    <div class="col-md-4"><!--start of column 2-->
                        <div class="card my-card shadow text-left p-3">
                        
                       
                        <label>Discount Rate %</label> {{form.discountValue}} 
                        <label>Currency</label> {{form.currency}} 
                        <label>Sales Tax</label> {{form.salestax}} 
                        
      
                        
                        
                        </div>
                    </div><!--end of column 2-->
        
                    <div class="col-md-4"><!--start of column 3-->
                        <div class="card my-card shadow text-left p-3">
                       
                        <label>Comments</label> {{form.comments}} 
                        <label>Discount</label> {{form.discount}} 
                        <label>Tax Rate</label> {{form.tax}}
                        
      
                        
                        <input type="submit" value='Save' id="allif-link-buttons" class="btn btn-success mybuttonlinks" style="width:100%;">
               
                        </div>
                    </div><!--end of column 1-->
        
                </div><!--end of row div --->
        
            </div><!--end of first row body-->
            <!----------------------------------------------end of row----------------------------------------------------->
        
        
        
            
            <div style="float: center; text-align: center;">
           
            </div>
                   
            </form>
            <hr style="height: 1em; color: rgb(245, 113, 73);">
</div><!--end of main container of the page-->

<script>
  
  $(document).ready(function(){
$(".opensidemenuonemodulelinksbtn").click(function(){
$(".sidenavonemodulelinksmenu").toggleClass( "opensidenavonemodulelinks" );
})
})
    
var sidenavtwodropdownbtns= document.getElementsByClassName("sidenavonemodulelinksmenudropdownbtn");
    var i;
    for (i = 0; i < sidenavtwodropdownbtns.length; i++) {
      sidenavtwodropdownbtns[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var sidenavtwodropdownbtnlinks= this.nextElementSibling;
        if (sidenavtwodropdownbtnlinks.style.display === "block") {
          sidenavtwodropdownbtnlinks.style.display = "none";
        } else {
          sidenavtwodropdownbtnlinks.style.display = "block";
        }
      });
    }
   

</script>
   {% endblock %}
   