{% extends 'allifmaaluiapp/base/uimainbase/allifmaaluibase.html'%}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
   
   {% block body %}
 


   <div class="allifmaincontainer container-check-if-removing-it-will-help-styling"><!--start of main container of the page--...#17a2b8;  -->

    <!--start of first row-->
 
    

      <!--we can insert the other section here-->
      
          <div class="col-md-12" >
              <div class="card">
                  <div id="allif-section-headers" class="card-header">
                      
                  Main Store Table
                  
                  
                  </div>
                  
                
              <div class="AllifTableFixedHeader Allifmaal-scroll-table"> 
                  <table class="table table-layout">
                    <thead >
                      <tr class="allif-table-header-row">
                         
                          <td>Category</td>
                          <td>Description</td>
                          <td>PartNo.</td>
          
                          <td>Quantity</td>
                        
                          <td>Price</td>
                          <td>Details</td>
                         
                      </tr>
                    </thead>
                    <tbody>
                    
          <tr>
          
      
              <td >
                item one
              </td>
             
      
              <td>
                 54W3 SOLAR MODULES
                 
              </td>
              <td>do again </td>
              
              <td> another one</td>
              
            
              <td>566</td>
              <td>
                 compacision
              </td>
             
          </tr>
          <tr>
           
                <td >
                  item one
                </td>
               
        
                <td>
                   two sect
                   
                </td>
                <td>do again</td>
                
                <td> another one</td>
                
              
                <td>566</td>
                <td>
                   compacision
                </td>
               
            </tr>
            <tr>
             
          
                  <td >
                    item one
                  </td>
                 
          
                  <td>
                     two sect
                     
                  </td>
                  <td>do again</td>
                  
                  <td> another one</td>
                  
                
                  <td>566</td>
                  <td>
                     compacision
                  </td>
                 
              </tr>
              <tr>
               
                    <td >
                      item one
                    </td>
                   
            
                    <td>
                       two sect
                       
                    </td>
                    <td>do again</td>
                    
                    <td> another one</td>
                    
                  
                    <td>566</td>
                    <td>
                       compacision
                    </td>
                   
                </tr>
                
         
      
                    </tbody>
                  </table>
                </div>
             
              <!--end of table-->
                 
              </div>
            
            
            
            </div>
              <!-- end of first row-->
            
              
   
</div><!--end of main container of the page-->

   
   {% endblock %}