{% extends 'allifmaaluiapp/base/uimainbase/allifmaaluibase.html'%}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
   
   {% block body %}
   



   <div class="allifmaincontainer container-check-if-removing-it-will-help-styling"><!--start of main container of the page--...#17a2b8;  -->

    <!--start of first row-->
 
    
            
              <!--start of first row-->
    <div class="row mt-12" >
        
      <div class="col-md-4">
          <div class="card">
              <div id="allif-section-headers" class="card-header ">
                 Add Tax Descriptions
              </div>
             

<!----------------------------------------------start of row----------------------------------------------------->
<div class="col-md-12"><!--start of the first row body-->
    <div class="col-md-12"><!--start of column 1-->
      <table class="table table-layout">
        <thead >
          <tr class="allif-table-header-row">
              <td>NO</td>
              <td>Category</td>
              <td>Description</td>
              <td>Part No.</td>

             
             
          </tr>
        </thead>
        <tbody>
        
<tr>
<td>
  1
</td>

  <td >
    item one
  </td>
 

  <td>
     two sect
     
  </td>
  <td>do again</td>
  
 
  

  
</tr>
<tr>
<td>
    1
</td>

    <td >
      item one
    </td>
    
  
    <td>566</td>
    <td>
       compacision
    </td>
   
</tr>

     
     
  </tr>
  
    


        </tbody>
      </table> 
    </div><!--end of column 1-->
</div><!--end of first row body-->
<!----------------------------------------------end of row----------------------------------------------------->
   
          </div>
      </div>
      

  <div class="col-md-8">
      <div class="card">
          <div id="allif-section-headers" class="card-header">
         Tax Parameters
          </div>
         
              <div class="col-md-12 AllifTableFixedHeader Allifmaal-scroll-table">
                
      <!--start of the table-->
          
          <table class="table table-layout">
          <thead>
              <tr class="allif-table-header-row">
              <td>Description</td>
              <td>Rate</td>
              <td>Type</td>
              <td>Edit</td>
             
              <td>Delete</td>

      
          </tr>
      </thead>
      <tbody>

          

  <tr>
      
   
      
      
      <td>
        23
         
      </td>
      <td>
          taxes go here
         
      </td>
      <td>
          34
         
      </td>
      
        
      <td>
        stocks
      </td>

      <td>
         procurement
      </td>
      
  </tr>
  
  <tr>
      
   
      
      
    <td>
      23
       
    </td>
    <td>
        taxes go here
       
    </td>
    <td>
        34
       
    </td>
    
      
    <td>
      stocks
    </td>

    <td>
       procurement
    </td>
    
</tr>

<tr>
      
   
      
      
  <td>
    23
     
  </td>
  <td>
      taxes go here
     
  </td>
  <td>
      34
     
  </td>
  
    
  <td>
    stocks
  </td>

  <td>
     procurement
  </td>
  
</tr>
 

      </tbody>
      </table>
      
      <!--end of table-->
          </div>
          <h1>jklklfd sdfdsfd </h1>
          <br>
          <h1>jklklfd sdfdsfd </h1>
          <br>
      </div></div></div>
      <!-- end of first row-->
   
</div><!--end of main container of the page-->


   {% endblock %}
   