{% extends 'app1/bases/allifbase.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
   
   {%endblock%} 
   
   {% block body %}
 
<div class="container"><!--start of main container of the page--...#17a2b8;  -->

    <!--start of first row-->
<div class="row mt-12" >

<!--start of column-->
<div class="col-md-4">
    <div class="card"  style="background-color: #F6F7F8;" >
        <div id="allif-section-headers" class="card-header ">
           Make Changes
        </div>
        <div >
            <!--include the target where you want and then add the rest of the form as include file-->
 
   
    <a href="#myModal" data-toggle="modal" data-target="#myModal"> 
        <button id="allif-link-buttons" type="button" class="btn btn-success mybuttonlinks" >
        Add Details</button></a>
        
        <h3>
            form here
        </h3>
        <form method='POST' action='' enctype="">{% csrf_token %}
            <div class="card my-card shadow text-left p-3">
              <label>Username</label>{{form.username}}
              
              <label>pass</label>{{form.passwrd}}
              
              <input type="submit" value='Save' id="allif-link-buttons" class="btn btn-success mybuttonlinks" style="width:100%;">
             
           
            </div>
      

       

      

        <p>end of form</p>
   
    

        
    </div>
    
    <div>
       

        
        </div>
     
                
            </div>
        </div>
        <!-- end of column-->

<!--start of column two-->
<div class="col-md-4">
    <div class="card">
        <div id="allif-section-headers" class="card-header ">
            Users and their titles
        </div>
        <table class="table table-layout">
            <thead >
            <tr class="allif-table-header-row">
                <td>Branch</td>
                <td>Location</td>
                <td>Open</td>
                <td>Phone</td>

                <td>Comments</td>
                
            </tr>
                </thead>
                <tbody>
                            
                    {% for item in userprofiles %}
    <tr>
          
            <td>
                
                {{item.name}}</a>
               
            </td>
            <td>{{item.title}}</td>
            <td>{{item.name.slug}}</td>
            <td>{{item.is_staff}}</td>
          
            <td>{{item.is_admin}}</td>
        
        </tr>
        {% endfor %}
    
                  </tbody>
                </table>

       
     
                
            </div>
        </div>
        

<!--end of column three-->
   
    </div>

        <!-- end of first row-->
                  

</div><!--end of main container of the page-->

   {% endblock %}

