{% extends 'app1/bases/allifbase.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
   
   {%endblock%} 
   
   {% block body %}
 
<div class="container"><!--start of main container of the page--...#17a2b8;  -->

    <!--start of first row-->
<div class="row mt-12" >
    <h1>
       Related suppplirs
    </h1>
    
    {% for items in suppliers %}
    
    <a href="{% url 'app1:SupplierDetails' items.slug %}">
    {{items.name}} 
    </a>
    {% endfor %}
</div>
    

</div><!--end of main container of the page-->

   {% endblock %}

