<style>
  /*........................ IMPORTANT NOTES ........................*/
  /*......................... DATE: 17th MAY 2024 ..................*/
  /*......................... DEVELOPER: AHMED MUSE DIRIYE QOORYARE..................*/
   /*.....Kindly read these notes before making any changes to this file.....*/
   /*this file contains three hidden side nav bars with dropdown links...*/
   /*we can add as many links as we wish...*/
</style>
<style>
* {
  
  font-family: var(--main-font-type);
}
/*............start of styling of side nav one bar menu and its content.............................*/
.sidenavonemenu {
  position: fixed;
  top: 0;
  left: 0;
  background: #f7f7f7;
  z-index:10;  
  box-shadow: 0em 0em 0.5em #858585;
  overflow-y:auto;
  overflow-x: hidden;
  width: 0;
  height: 0;
  min-height: fit-content;
  max-height: 100%;/*very important... if you dont put this it will not show the over*/
  min-width: min-content;
  max-width: 7em;
  transition: 0.3s;
  transition: all 0.3s ease-in;
  
 
  }

.sidenavonemenu a, .sidenavonemenu button.sidenavonedropdownbtn {
  position: relative;
  
  font-weight:normal;
  font-size: 1em;
  text-align: left;
  left: 0.1em;
  padding: 0.1em 0.1em 0.1em 0.1em;
  text-decoration: none;
  color: #0a0a0a;
  display: block;
  width: 100%;
  height: fit-content;
  line-height: 2em;
  border: none;
  background: #f7f7f7;
  border-bottom: 1px solid #dfdede;
  
  
}

.sidenavonemenu a:hover,.sidenavonemenu button.sidenavonedropdownbtn:hover{
  color: #3a0bf7;
}

/*style the clicked active buttons in the side nav dropdown buttons*/
.active {
  background: #f7f7f7;
  color: #3a0bf7;
  }

  /*style the side nav one drop down menu and its content*/
.sidenavone-dropdown-container {
  display: none;
  position:absolute;
  left: 0.1em;
  z-index: 1;/*drop down will not open without this property....*/
  float: left;
  text-align: left;
  padding: 0.1em 0.1em 0.1em 0.1em;
  background: #f7f7f7;
  
  }

.sidenavone-dropdown-container a{
  position: relative;
  
  font-weight:normal;
  font-size: 1em;
  text-align: left;
  left: 0.1em;
  padding: 0.1em 0.1em 0.1em 0.1em;
  text-decoration: none;
  color: #3a0bf7;
  display: block;
  line-height: 2em;
  background: #f7f7f7;
  border-bottom: 1px solid #dfdede;
  width: 100%;
  }
  
  .sidenavone-dropdown-container a:hover{
    color: #0a0a0a;
  }

  .opensidenavone {
  width:fit-content;
  height:fit-content;
}


  /*............end of styling of side nav one bar menu and its content.............................*/

  /*############################################################################################*/
  
/*............start.....styling of second hiden side nav two menu bar and its content..................*/
.sidenavtwomenu {
  position: absolute;
  top: 0em;
  background: #f7f7f7;
  overflow-x:hidden;
  overflow-y:auto;
  left: 7em;
  z-index:10;
  width:0; height:0;/*this ensures that the side two menu is only shown on click... is like hiding the menu*/
  box-shadow: 0em 0em 0.5em #858585;
  min-height: fit-content;
  max-height: 100%;/*very important... if you dont put this it will not show the over*/
  min-width: min-content;
  max-width: 7em;
}

.sidenavtwomenu a, .sidenavtwomenu .sidenavtwomenudropdownbtn{
  display:block;
  border: none;
  text-align:center;
  color: #0a0a0a;
  text-decoration:none;  
  position: relative;
  line-height: 2em;
  font-weight:normal;
  font-size: 1em;
  text-align:left;
  padding: 0.1em 0.1em 0.1em 0.1em;
  margin-top: 0em;
  margin-bottom: 0em;
 
  text-decoration: none;
  border-bottom: 1px solid #dfdede;
  background: #f7f7f7;
  margin-left: 1em;
  left: 0.1em;
  height: fit-content;
  max-height:fit-content;
 min-width: min-content;
  width: 100%;
}
.sidenavtwomenu a:hover,.sidenavtwomenudropdownbtn:hover{
  color: #3a0bf7;
}
/**styling side nav two drop down container*/
  
.sidenavtwo-dropdown-container {
  display: none;
  position:absolute;
  margin-top: 0em;
  margin-bottom: 0em;
  z-index: 1;/*drop down will not open without this property....*/
  float: left;
  text-align: left;
  padding: 0.1em 0.1em 0.1em 0.1em;
  background: #f7f7f7;
 
 
  }

.sidenavtwo-dropdown-container a{
  position: relative;
  margin-top: 0em;
  margin-bottom: 0em;
  
  font-weight:normal;
  font-size: 1em;
  text-align: left;
  padding: 0.1em 0.1em 0.1em 0.1em;
  text-decoration: none;
  color: #3a0bf7;
  display: block;
  line-height: 2em;
  background: #f7f7f7;
  border-bottom: 1px solid #dfdede;
  width: 100%;
  
  }
  
  .sidenavtwo-dropdown-container a:hover{
    color: #474747;
  }


.sidenavtwo-dropdown-container a{
  color: #3a0bf7;
  }
  

/*this opening window is for the second side nav bar*/
.opensidenavtwo{
  width:fit-content;
  height:fit-content;
  
 
}


/*............end.....styling of second hiden side nav two menu bar and its content..................*/


/*############################################################################################*/
  
/*............start.....styling of third hiden side nav two menu bar and its content..................*/
.sidenavthreemenu {
position: absolute;
top: 0em;
margin: 0;
background: #f7f7f7;
left: 7em;
width:0; height:0;/*this ensures that the side two menu is only shown on click... is like hiding the menu*/
overflow-x:hidden;
overflow-y:auto;
z-index:10;
box-shadow: 0em 0em 0.5em #858585;
min-height: fit-content;
max-height: 100%;/*very important... if you dont put this it will not show the over*/
min-width: min-content;
max-width: 7em;

}

.sidenavthreemenudropdownbtn,.sidenavthreemenu a{
  display: block;
  border: none;
  color: #0a0a0a;
  text-decoration:none;  
  position: relative;
  line-height: 2em;
  font-weight:normal;
  font-size: 1em;
  text-align:left;
  padding: 0.1em 0.1em 0.1em 0.1em;
  margin-top: 0em;
  margin-bottom: 0em;
  
  text-decoration: none;
  border-bottom: 1px solid #dfdede;
  background: #f7f7f7;
  margin-left: 1em;
  max-height:fit-content;
  left: 0.1em;
  height: fit-content;
  min-width: min-content;
  width: 100%;
  
}
.sidenavthreemenu a:hover,.sidenavthreemenudropdownbtn:hover{
  color: #3a0bf7;
}
/**styling side nav two drop down container*/
  
.sidenavthree-dropdown-container {
  display: none;
  position:absolute;
  margin-top: 0em;
  margin-bottom: 0em;
  z-index: 1;/*drop down will not open without this property....*/
  float: left;
  text-align: left;
  padding: 0.1em 0.1em 0.1em 0.1em;
  background: #f7f7f7;
 
 
  }

.sidenavthree-dropdown-container a{
  position: relative;
  margin-top: 0em;
  margin-bottom: 0em;
  
  font-weight:normal;
  font-size: 1em;
  text-align: left;
  padding: 0.1em 0.1em 0.1em 0.1em;
  text-decoration: none;
  color: #3a0bf7;
  display: block;
  line-height: 2em;
  background: #f7f7f7;
  border-bottom: 1px solid #dfdede;
  width: 100%;
  
  }
  
  .sidenavthree-dropdown-container a:hover{
    color: #474747;
  }


.sidenavthree-dropdown-container a{
  color: #3a0bf7;
  }
  

/*this opening window is for the second side nav bar*/
.opensidenavthree{
  width:fit-content;
  height:fit-content;
  
}
/*
just three device sizes...mobiles, tablets and laptops/desktops
min 0 max 500 - mobile - no side nav dropdown
min 500 max 1000 - tablets, no side nav
min 1000 no max - laptops and bigger screens, no side nav...
*/

/*............end.....styling of second hiden side nav two menu bar and its content..................*/


</style>


<div> <!--this div is not necessary but just added so as to have all links under one div-->

  <!--start of side menu one-->
  <div class="sidenavonemenu">
   <a href="#" class="opensidemenuonebtn sidenavonemenulinksforminiscreens"
    id="sidenavoneshwohiddenlinkslink">Close <i class="fa fa-close"></i></a>
   <a href="#" class="opensidemenutwobtn"> Menu 2 <i class="fa fa-caret-right"></i></a>
   <a href="#" class="opensidemenuthreebtn">Menu 3 <i class="fa fa-caret-right"></i></a>
   <a href="{% url 'allifmaaluiapp:allifmaalUIMainDashboard' %}" >Dashboard</a>

   <button class="sidenavonedropdownbtn" >Quotations<i class="fa fa-caret-down"></i></button>
  <div class="sidenavone-dropdown-container">
    <a href="{% url 'allifmaaluiapp:allifmaalUI2Tables' %}">Dashboard</a>
    <a href="{% url 'allifmaaluiapp:allifmaalUITabs' %}">Tabs</a>
    <a href="{% url 'allifmaaluiapp:allifmaalUISearch' %}">Search</a>
  </div>
  
  <button class="sidenavonedropdownbtn" >Purchases<i class="fa fa-caret-down"></i></button>
  <div class="sidenavone-dropdown-container">
    <a href="{% url 'allifmaaluiapp:allifmaalUI2Tables' %}">Logistics</a>
    <a href="#">Invoices</a>
    <a href="#">Quotations</a>
  </div>

  <button class="sidenavonedropdownbtn" >Employees<i class="fa fa-caret-down"></i></button>
  <div class="sidenavone-dropdown-container">
    <a href="{% url 'allifmaaluiapp:allifmaalUI2Tables' %}">Logistics</a>
    <a href="#">Invoices</a>
    <a href="#">Quotations</a>
  </div>
  
  <button class="sidenavonedropdownbtn">Inventory<i class="fa fa-caret-down"></i></button>
  <div class="sidenavone-dropdown-container">
    <a href="{% url 'allifmaaluiapp:allifmaalUI2Tables' %}">Purchases</a>
    <a href="#">Suppliers</a>
    <a href="#">Returns</a>
  </div>

  <a href="{% url 'allifmaaluiapp:allifmaalUI2Tables' %}" class="">Tables</a>
  <a href="#" class="">Marketing</a>
  <a href="#" class="">Leads</a>

  <button class="sidenavonedropdownbtn">Inventory<i class="fa fa-caret-down"></i></button>
  <div class="sidenavone-dropdown-container">
    <a href="{% url 'allifmaaluiapp:allifmaalUI2Tables' %}">Purchases</a>
    <a href="#">Suppliers</a>
    <a href="#">Returns</a>
  </div>

  <button class="sidenavonedropdownbtn">Sales<i class="fa fa-caret-down"></i></button>
  <div class="sidenavone-dropdown-container">
    <a href="{% url 'allifmaaluiapp:allifmaalUI2Tables' %}">Purchases</a>
    <a href="#">Suppliers</a>
    <a href="#">Returns</a>
  </div>

  <a href="#" class="">Sales</a>
  <a href="#" class="">Sales</a>
 
  </div>
  <!--end of side menu one-->

<!--start of side menu two-->
<div class="sidenavtwomenu">
  <a href="#" class="opensidemenutwobtn">Close <i class="fa fa-close"></i></a>
    <a href="{% url 'allifmaaluiapp:allifmaalUI2Tables' %}">Sales</a>
    <a href="#">About</a>
   
    <button class="sidenavtwomenudropdownbtn">Inventory <i class="fa fa-caret-down"></i></button>
    <div class="sidenavtwo-dropdown-container">
      <a href="{% url 'allifmaaluiapp:allifmaalUI2Tables' %}">Purchases</a>
      <a href="{% url 'allifmaaluiapp:allifmaalUI2Tables' %}">Suppliers</a>
      <a href="#">Returns</a>
    </div>

    <a href="#">Customers</a>
    <a href="#">Invoices</a>

    <button class="sidenavtwomenudropdownbtn">Insurances <i class="fa fa-caret-down"></i></button>
    <div class="sidenavtwo-dropdown-container">
      <a href="{% url 'allifmaaluiapp:allifmaalUI2Tables' %}">Purchases</a>
      <a href="#">Suppliers</a>
      <a href="#">Returns</a>
    </div>

    <button class="sidenavtwomenudropdownbtn">Medicals <i class="fa fa-caret-down"></i></button>
    <div class="sidenavtwo-dropdown-container">
      <a href="{% url 'allifmaaluiapp:allifmaalUI2Tables' %}">Purchases</a>
      <a href="#">Suppliers</a>
      <a href="#">Returns</a>
    </div>

    <button class="sidenavtwomenudropdownbtn">Returns <i class="fa fa-caret-down"></i></button>
    <div class="sidenavtwo-dropdown-container">
      <a href="{% url 'allifmaaluiapp:allifmaalUI2Tables' %}">Purchases</a>
      <a href="#">Suppliers</a>
      <a href="#">Returns</a>
    </div>

    <a href="#" class="">Managers</a>

  </div>
<!--end of side menu two-->

<!--start of side menu three-->
<div class="sidenavthreemenu">
  <a href="#" class="opensidemenuthreebtn">Close <i class="fa fa-close"></i></a>
  <a href="{% url 'allifmaaluiapp:allifmaalUI2Tables' %}">Sales</a>
  <a href="#">Inventory</a>
  
  <button class="sidenavthreemenudropdownbtn">Inventory <i class="fa fa-caret-down"></i></button>
  <div class="sidenavthree-dropdown-container">
    <a href="{% url 'allifmaaluiapp:allifmaalUI2Tables' %}">Purchases</a>
    <a href="#">Suppliers</a>
    <a href="#">Returns</a>
  </div>

  <a href="{% url 'allifmaaluiapp:allifmaalUI2Tables' %}">Customers</a>
  <a href="#">Invoices</a>

  <button class="sidenavthreemenudropdownbtn">Insurances <i class="fa fa-caret-down"></i></button>
  <div class="sidenavthree-dropdown-container">
    <a href="{% url 'allifmaaluiapp:allifmaalUI2Tables' %}">Purchases</a>
    <a href="#">Suppliers</a>
    <a href="#">Returns</a>
  </div>

  <button class="sidenavthreemenudropdownbtn">Medicals <i class="fa fa-caret-down"></i></button>
  <div class="sidenavthree-dropdown-container">
    <a href="{% url 'allifmaaluiapp:allifmaalUI2Tables' %}">Purchases</a>
    <a href="#">Suppliers</a>
    <a href="#">Returns</a>
  </div>

  <button class="sidenavthreemenudropdownbtn">Returns <i class="fa fa-caret-down"></i></button>
  <div class="sidenavthree-dropdown-container">
    <a href="{% url 'allifmaaluiapp:allifmaalUI2Tables' %}">Purchases</a>
    <a href="#">Suppliers</a>
    <a href="#">Returns</a>
  </div>

  <a href="#" class="">Managers</a>

</div>
<!--end of side menu three-->

</div>