
{% extends 'allifapp/bases/subsbase.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
   
   {%endblock%}
   
   {% block body %}
 
<div class="container"><!--start of main container of the page--...#17a2b8;  -->

    <!--start of first row-->
    <div class="row mt-12" >
      
    <div class="col-md-12">
        <div class="card">
           
            <div class="col-md-12 fulltablelinksheader">

 <!-- start of on click dropdown Menu-->
 <div class="allif-clikable-dropdown">
  <button onclick="openOnClickFunction()" id="allif-link-buttons" class="allifmaal-dropbtn btn btn-success mybuttonlinks">
    Open Here To Search For Items
    <i class="fa fa-caret-down"></i>
  </button>
  <div id="allif-clikable-myDropdown" type="button" class="clikable-dropdown-content">
    <table class="table">
      <tr>
            
    
        <form method='POST' action=''>{% csrf_token %}
            <label id="numofitems"> </label>
          
            <input type="text" id="allifsearchcommonfield" class="form-control allifsearchcommonfieldclass"
             placeholder="Search For Inventory" >
            </form>
               
          </tr>
    
        </table>

        <!--table here-->
    <table class="table">
        <thead>
          <tr>
            
            <td scope="col">Description</td>
            <td scope="col">Quantity</td>
            <td scope="col">Price</td>
           
            
          </tr>
        </thead>
        <tbody id="tbody">
            </tbody>
            </table>
    
  </div>
  </div>
  <!--end of on click dropdown menu-->



  <!-- start of on click dropdown Menu-->
 <div class="allif-clikable-dropdown-links">
    <button onclick="openOnClickFunctionLinks()" id="allif-link-buttons" class="allifmaal-dropbtn-links btn btn-success mybuttonlinks">
      Open Module Related Functions 
      <i class="fa fa-caret-down"></i>
    </button>
    <div id="allif-clikable-myDropdown-links" type="button" class="clikable-dropdown-content-links">
      <table class="table">
       
          <tr>
            <td>
        <a href="">
            
            Stock Categories
          </a>
          </td>
          <td>
            <a href="">
                
                Common Search
              </a>
              </td>
              
          </tr>
        <tr>
            <td>
        <a href="">
            
          Stores
          </a>
          </td>
          <td>
            <a href="">
                
               Add New Item
              </a>
              </td>
              
          </tr>
         
        <tr>
          <td>
      <a href="">
          
         Export Stock
        </a>
        </td>
        <td>
          <a href="">
              
             Upload Stock
            </a>
            </td>
        </tr>
        <tr>
          <td>
            <a href="">Search</a>
          </td>
        </tr>
       
          </table>
      
    </div>
    </div>




     <!-- start of on click dropdown Menu-->
 <div class="allif-clikable-dropdown-links-two">
    <button onclick="openOnClickFunctionLinksTwo()" id="allif-link-buttons" class="allifmaal-dropbtn-links-two btn btn-success mybuttonlinks">
      Open Main Module Functions 
      <i class="fa fa-caret-down"></i>
    </button>
    <div id="allif-clikable-myDropdown-links-two" type="button" class="clikable-dropdown-content-links-two">
      <table class="table">
        
           
        <tr>
            <td>
        <a href="">
            
            Transfers From Store To Branches
          </a>
          </td>
          <td>
           
              </td>
              
          </tr>
          
          </table>
      
    </div>
    </div>

     <!-- start of on click dropdown Menu-->
 <div class="allif-clikable-dropdown-links">
    <a href="">
    <button id="allif-link-buttons" class="allifmaal-dropbtn-links btn btn-success mybuttonlinks">
     Procurement
      </button>
      </a>
     
    </button>
   
    
    </div>

                         

<!----------------------------------------------end of row----------------------------------------------------->
            </div>
        </div></div></div>
        <!-- end of first row-->

        
    <!--start of first row-->
    <div class="row mt-12" >

        <!--we can insert the other section here-->
        
            <div class="col-md-12">
                <div class="card">
                    <div id="allif-section-headers" class="card-header">
                        
                   Registered Users
                    </div>
                    
                  
                <div class="AllifTableFixedHeader Allifmaal-scroll-table"> 
                    <table class="table table-layout">
                      <thead >
                        <tr class="allif-table-header-row">
                            <td>NO</td>
                            <td>Name</td>
                           
                            <td>Email</td>
            
                            <td>Staff</td>
                          
                            <td>Superuser</td>
                           
                            <td>Category</td>
                            <td>Change pass</td>
                            <td>Out</td>
                            <td>X</td>
                            <td>Auth</td>
                            <td>anmus</td>
                            <td>login</td>
                           
                        </tr>
                      </thead>
                      <tbody>
                        {% for items in users %}
            <tr>
            <td>
                {{forloop.counter}}
            </td>
                <td >
                    <a href="{% url 'allifmaalusersapp:editUserDetailsByAdmin' items.customuserslug %}">
                        
                      {{items.first_name}}
                        
                    </a>
                </td>
               
                <td>{{items.email}}</td>
                
                <td> {{items.is_staff}}</td>
                
              
                <td> <a href="{% url 'allifmaalusersapp:changeUserToSupperuserByAdmin' items.customuserslug %}">
                    
                    {{items.is_superuser}}
                    </a>
                </td>
                {% if items.user_category == 'admin' %}
                <td style="background-color: blanchedalmond;"> {{items.user_category}}</td>
                {% else %}
                <td> {{items.user_category}}</td>
                {% endif %}

                <td> <a href="{% url 'allifmaalusersapp:changeUserPasswordByAdmin' items.customuserslug %}">
                    
                 Change pass
                  </a>
              </td>
            
             <td>{{items.customuserslug}}</td>


                <td>
                    {% if user_cat == 'superuser' or user_cat == 'admin' %}
                    <a href="{% url 'allifmaalusersapp:DeleteUserByAdmin' items.customuserslug %}" style="color: red;">X</a>
                        
                    </a>
                    {% else %}
                X
                {% endif %}
                </td>
                <td>
                  {{items.is_authenticated}}
                </td>
                <td>
                  {{items.is_anonymous}}
                </td>
                <td>
                  {{items.last_login}}
                </td>
                
                <td> <a href="{% url 'allifapp:registeredSystemUserDetails' items.customuserslug %}">
                    
                  Details
                   </a>
               </td>
               <td>
                {{items.usercompany}}
               </td>
                
                
               <td>
                {{items.company}}
               </td>
                
               
                
            </tr>
            {% endfor %}
        
                      </tbody>
                    </table>
                  </div>
                  <hr>
                  <h3>Allimfaal Users</h3>
                  <p>
                    
                    <a href="{% url 'allifmaalloginapp:allifmaalChangeYourPassword' %}">allifmaal change loged in pass</a>
                  </p>
                  <p>
                    
                    <a href="{% url 'allifmaalloginapp:allifmaalForgotPassword' %}">forgot pass</a>
                  </p>

                  <p>
                    
                    <a href="{% url 'allifmaalloginapp:allifmaaluserLogout' %}">logout</a>
                  </p>
                  
                  
                  <table class="table table-layout">
                    <thead >
                      <tr class="allif-table-header-row">
                          <td>NO</td>
                          <td>Name</td>
                         
                          <td>Email</td>
          
                          <td>Staff</td>
                        
                          <td>Superuser</td>
                         
                          <td>Category</td>
                          <td>Change pass</td>
                          <td>Out</td>
                          <td>X</td>
                          <td>Auth</td>
                          <td>anmus</td>
                          <td>login</td>
                         
                      </tr>
                    </thead>
                    <tbody>
                      {% for items in allifmaalusers %}
          <tr>
          <td>
              {{forloop.counter}}
          </td>
              <td >
                  <a href="{% url 'allifmaalloginapp:AllifmaalEditUserDetails' items.customuserslug %}">
                      
                    {{items.first_name}}
                      
                  </a>
              </td>
             
              <td>{{items.email}}</td>
              
              <td> {{items.is_staff}}</td>
              
            
              <td> <a href="{% url 'allifmaalloginapp:AllifmaalChangeUserToSupperuser' items.customuserslug %}">
                  
                  {{items.is_superuser}}
                  </a>
              </td>
              {% if items.allifmaalcategory == 'allifmaaladmin' %}
              <td style="background-color: blanchedalmond;"> {{items.user_category}}</td>
              {% else %}
              <td> {{items.user_category}}</td>
              {% endif %}

              <td> <a href="{% url 'allifmaalloginapp:allifmaalChangeUsersPassword' items.customuserslug %}">
                  
               Change pass
                </a>
            </td>
          
           <td>{{items.customuserslug}}</td>


              <td>
                  {% if items.allifmaalcategory == 'allifmaaladmin' %}
                  <a href="{% url 'allifmaalloginapp:allifmaalDeleteUser' items.customuserslug %}" style="color: red;">X</a>
                      
                  </a>
                  {% else %}
              X
              {% endif %}
              </td>
              <td>
                {{items.is_authenticated}}
              </td>
              <td>
                {{items.is_anonymous}}
              </td>
              <td>
                {{items.last_login}}
              </td>
              
              <td> <a href="{% url 'allifapp:registeredSystemUserDetails' items.customuserslug %}">
                  
                Details
                 </a>
             </td>
              
              

              
             
              
          </tr>
          {% endfor %}
      
                    </tbody>
                  </table>
               
                <!--end of table-->
                   
                </div></div>
              
              
              
              </div>
                <!-- end of first row-->
       
</div><!--end of main container of the page-->

<script>


///////////////////////////////////////// below is for the search ////////////////////
const waitTime = 2000;

const allif_input_value = $("#allifsearchcommonfield").val()
const allif_input = document.getElementById('allifsearchcommonfield');
allif_input.addEventListener('keyup', function allifmaal(event){
   

event.preventDefault();
output=""
allifdata=$(this).val();


// chek if the field is emtpy
if (allifdata.length>3){
const allif_input_val= document.getElementById('allifsearchcommonfield').value;
allifmaal_search();
}
else{
   console.log("required length not reached")
}

//timer=setTimeout(() => {allifmaal_search();}, waitTime);
})

   function allifmaal_search() {
   allifmaaldata={search_result_key:allifdata,};//data to be sent to backend
   $.ajax({
           url:"", //behind the scenes run this url
           method:"GET",
           data:allifmaaldata,//this is the collected data sent to the backend
           dataType:"json",
   
   // start of section that ensures that the data appears on the client side immediately the user adds a record
   success:function(allifmaalengdata){
       const datafrombackend=allifmaalengdata
       const mydata=JSON.stringify(datafrombackend)
       const ourdata=JSON.parse(mydata)
       

       var number_of_items=0
       for (i=0; i<ourdata.length; i++){
           myitemnames=ourdata[i].number//this is working and gives all the item names
           allifproductid=ourdata[i].id

           output+=`<tr><td> <a href='/allifmaalapp/View-Product-Details/${allifproductid}/'</a>`
                    +ourdata[i].description+`</td>`+
                    `<td> <a href='/allifmaalapp/View-Product-Details/${allifproductid}/'</a>`
                        + ourdata[i].quantity +`</td>`+
                        `<td> <a href='/allifmaalapp/View-Product-Details/${allifproductid}/'</a>`
                        + ourdata[i].unitPrice+`</td>
                         </tr>`;

               number_of_items++;
       };
       
       
       //document.getElementById("numofitems").innerHTML = number_of_items+" "+'items';
       $("#tbody").html(output);

           //artists_div.fadeTo('slow',2)
           //artists_div.html(allifmaalengdata)
           
}
}

)};


/*
$("#mysearchid").keyup(function(){
if($(this).val().length>5){
   console.log("55555555555555")
   //$("#clearicon").show();
}
else
{
   console.log("lesssssssssssss")
    //$("#clearicon").hide();
}
});
*/

//$('#mysearchid').on('input', function() {
//if($(this).val() != '' && $(this).val().length>5 ) {
// console.log("what is the lenth")
//Write show() function for icon selectors
//} else {
//console.log(" this is the else ssection")
// Write hide() function for icon selectors
//}
//});




</script>


   {% endblock %}


